<html>
<head>
<title></title>
</head>
<body>
  <% Object.getOwnPropertyNames(adminPolls.answers).forEach(function(val, idx, array) { %>
  <%= adminPolls.answers[val] %>
  <% }) %>

  <div id="current-votes"></div>
  <div id="user-vote"></div>
  <div id="connection-count"></div>
  <div id="status-message"></div>

  <script src="/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/application.js"></script>
</body>
</html>
