<!doctype html>
<html>
  <head>
    <title>Crowdsource</title>
  </head>
  <body>
    <a href=<%=url + '/' + links %>><%=url + '/' + links %></a>

    <script src="/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/application.js"></script>

  </body>
</html>
