<html>
<head>
<title></title>
</head>
<body>
  <h3><% Object.getOwnPropertyNames(liveAdminPolls.answers).forEach(function(val, idx, array) { %>
  <%= liveAdminPolls.answers[val] %>
  <% }) %></h3>

  <h3><%= liveAdminPolls['refId'] %></h3>
</body>
</html>
