<html>
<head>
<title></title>
</head>
<body>
  <% Object.getOwnPropertyNames(liveAdminPolls.answers).forEach(function(val, idx, array) { %>
  <%= liveAdminPolls.answers[val] %>
  <% }) %>


</body>
</html>
