<html>
<head>
<title>Crowdsource</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel='stylesheet' href='/custom.css'>
</head>
<body>
<div class='jumbotron text-center'>
  <button class='btn btn-danger' id='close-feedback' name='<%= liveAdPolls['liveId'] %>'>Close Polls</button>
  <h4>Phone number you sent out: <%= liveAdPolls['phone']['phone'] %></h4>
  <h3>Question: <%= liveAdPolls['question']['question'] %> </h3>
  <h3>Live Feedback Will Show Up When Votes Come In!</h3>
  <div id="feedback-live-channel"></div>
  <div id='live-feedback'></div>
  <div id="closed"></div>
</div>
<script src="/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/application.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
