<html>
<head>
<title></title>
</head>
<body>
  <% Object.getOwnPropertyNames(liveAdminPolls.answers).forEach(function(val, idx, array) { %>
  <button id="submits-live" name="<%= liveAdminPolls['refId'] %>" value=<%= Object.keys(liveAdminPolls.answers)[idx] %>><%= liveAdminPolls.answers[val] %></button>
  <% }) %>
<h3><%= liveAdminPolls['refId'] %></h3>

<script src="/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/application.js"></script>
</body>
</html>
